<div class="container-fluid footerfull pt-5" id="contactus">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-sm-6">
                <img src="../../assets/images/logo.png" class="footerlogo" alt="">
                <ul class="footerlinks1">
                    <li>
                        <i class="fas fa-envelope"></i> <a href="mailto:support@pebblego.io">support@pebblego.io</a>
                    </li>
                    <li>
                        <i class="fas fa-globe"></i> <a class="orangecolor" href="http://pebblego.io">pebblego.io</a>
                    </li>
                    <li>
                        <i class="fab fa-github" aria-hidden="true"></i>
 <a class="orangecolor" href="https://github.com/pebblego">Github</a>
                    </li>
                </ul>

                <div class="subscribebox mt-4" style="display:none">
                    <p>Get the latest Pébble GO updates,<br>
                    highlights and team activities.</p>
                    <div class="form-group">
                        <input type="text" placeholder="Your Email">
                        <button>I'm in</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-6 col-sm-3 customemargin">
                <h3>Pébble GO</h3>
                <ul class="footerlinks1">
                    <li>
                        <a>Marketplace</a>
                    </li>
                    <li>
                        <a>How it works</a>
                    </li>
                    <li>
                        <a>FAQ</a>
                    </li>
                    <li>
                        <a>Support</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2 col-6 col-sm-3">
                <h3>Community</h3>
                <ul class="footerlinks1">
                   
                    <li>
                        <a>Discussion</a>
                    </li>
                    <li>
                        <a>Voting</a>
                    </li>
                    <li>
                        <a>Suggest features</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2 col-sm-12 subscribebx">
                <div class="row">
                    <div class="col-xl-12 col-sm-6">
                        <h3>Subscribe us</h3>
                        <ul class="footerlinks1 mb-4">
                            <li>
                                <a href="https://pebblego.substack.com/" class="orangecolor">pebblego.substack.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-12 col-sm-6">
                        <h3>Follow us</h3>
                        <ul class="sociallinks">
                            <li><a href=""><img src="../../assets/images/svg/facebook.svg"></a></li>
                            <li><a href="https://twitter.com/go_pebble"><img src="../../assets/images/svg/twiter.svg"></a></li>
                            <li><a href=""><img src="../../assets/images/svg/instagram.svg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mt-2">
            <div class="col-xl-12">
                <ul class="copyrightsection">
                    <li>© Pébble GO, Inc. All rights reserved.</li>
                    <li><a (click)="termsofuse()">Terms of use</a></li>
                    <li><a (click)="privacypolicy()">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

