.footerfull{background: linear-gradient(45deg, #43296812, #fc943312)}
.footerlogo{width: 210px;}
ul.footerlinks1{list-style: none; margin: 0; padding: 0;}
ul.footerlinks1 li{display: flex; align-items: center; margin-top: 5px;}
ul.footerlinks1 li i{color: #31183D; font-size: 14px; margin-right: 10px;}
ul.footerlinks1 li a{color: #3F3D56; text-decoration:none; font-size: 14px; font-weight: regular;}
ul.footerlinks1 li a.orangecolor{color: #FC9433;}

.form-group{background: #fff; display: flex; align-items:center; justify-content:space-between; padding:6px 6px; border-radius: 5px;}
.form-group input{width: 75%; font-size: 14px; background: none; border:none; padding:0px; outline:none}
.form-group button{width: 20%; background: #31183D; border-radius: 3px; color: #fff; border: none; outline:none; line-height:29px; height: 29px; font-size:12px; font-weight: regular; transition: all .3s ease-in-out;}
.form-group button:hover{background:#ED7322;}
.subscribebox p{color:#3F3D56; margin-bottom: 5px;}

h3{font-weight: medium; font-size: 14px; }

.sociallinks{list-style: none; margin:0; padding:0; display:flex}
.sociallinks li{margin-right: 10px;}
.sociallinks li a i{color:#31183D; font-size: 26px;}
.customemargin{margin-left: 90px;}

.copyrightsection{list-style: none; margin:0; padding:15px 0; display:flex; align-items: center;}

.copyrightsection li{margin-right: 20px;}
.copyrightsection li{font-size:14px; color: #3F3D56;}
.copyrightsection li a{color: #ED7322; transition: all .3s ease-in-out;}
.copyrightsection li a:hover{text-decoration:none ; color: #3F3D56;}


@media only screen and (min-width:270px) and (max-width:480px){
    
    .customemargin{margin-left:0 ;}
    .subscribebx{margin-top: 25px;}
    .copyrightsection{flex-wrap: wrap;}
}
@media only screen and (min-width:481px) and (max-width:768px){
    
    .customemargin{margin-left:0 ;}
    .subscribebx{margin-top: 25px;}
    .copyrightsection{flex-wrap: wrap;}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .customemargin{margin-left:0 ;}
    .subscribebx{margin-top: 25px;}
    .copyrightsection{flex-wrap: wrap;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .customemargin{margin-left:0 ;}
    .subscribebx{margin-top: 25px;}
    .copyrightsection{flex-wrap: wrap;}
}
