<div class="container-fluid headerslide" id="home">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 headerpart">
                <h1>Pébble Go</h1>
                <h4>Collect and experience the world!`</h4>
                <button class="btn btnprimary cumminsoonbrtn text-white">Coming Soon</button>
            </div>
        </div>
    </div>
</div>

<!-- how does it work panel -->

<div class="container-fluid panel2 py-5" id="howtocollect">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h2>How does it work?</h2>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="panel2data">
                    <img src="../../assets/images/travel.png" class="img-fluid" alt="Travel">
                    <h3 class="mt-4">Travel</h3>
                    <p>Be at a place you want to be; Use <br> your trusted wearable device to <br> attest your being at a specific <br> location at a particular time with rich <br> contextual information, obtain an <br> unique NFT card!</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="panel2data">
                    <img src="../../assets/images/svg/trade-to-collect.svg" class="img-fluid" alt="Trade to Collect">
                    <h3 class="mt-4">Trade to Collect</h3>
                    <p>Trade the NFT cards boarderlessly,<br> with anyone, at any time! Forge <br>valuable collections of NFT cards.</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="panel2data">
                    <img src="../../assets/images/change-the-world.png" class="img-fluid" alt="Mine to Change the World">
                    <h3 class="mt-4">Mine to Change the World</h3>
                    <p>Bond your valuable collectables to <br> mine $PBG tokens; utilize $PBG <br>tokens to govern PébbleGo and  <br> make it the way you like!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- slider panel -->

<div class="container-fluid sliderpanel py-5" id="collectiblesCards">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h2>Collectibles Cards</h2>
            </div>
        
            <div class="col-md-12 mb-5">
              
                  <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide><img src="../../assets/images/svg/tajmahal.svg" class="img-fluid" alt=""></ng-template>  
                    <ng-template carouselSlide><img src="../../assets/images/svg/wedding.svg" class="img-fluid" alt=""></ng-template>  
                    <ng-template carouselSlide><img src="../../assets/images/svg/nba-game.svg" class="img-fluid" alt=""></ng-template> 
                    <ng-template carouselSlide><img src="../../assets/images/svg/golden-gate.svg" class="img-fluid" alt=""></ng-template> 
                    <ng-template carouselSlide><img src="../../assets/images/svg/tesla-factory.svg" class="img-fluid" alt=""></ng-template> 
                    <ng-template carouselSlide><img src="../../assets/images/svg/kids-at-disneyland.svg" class="img-fluid" alt=""></ng-template> 
                    <ng-template carouselSlide><img src="../../assets/images/svg/attending-bitcoin-conference.svg" class="img-fluid" alt=""></ng-template> 
                    <ng-template carouselSlide><img src="../../assets/images/svg/mona-lisa-portrait-at-louvre.svg" class="img-fluid" alt=""></ng-template>
                    <ng-template carouselSlide><img src="../../assets/images/svg/news-site.svg" class="img-fluid" alt=""></ng-template>  
                  </owl-carousel-o>
            </div>
        </div>
    </div>
</div>

<!-- technology panel -->

<div class="container-fluid panel2 pt-5" id="technology">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 mb-5">
                <h2>Technology</h2>
            </div>
            <div class="col-xl-10 techpanel">
                <div class="row mb-5">
                <div class="col-xl-3 col-sm-3"><img class="img-fluid" src="../../assets/images/svg/trusted-devise.svg"></div>
                <div class="col-xl-9 col-sm-9 my-auto">
                    <h3>Trusted Wearable Device</h3>
                    <p>PébbleGo uses trusted wearable devices to allow anyone to attest to the blockchain of his or her being at a specific location at a particular time with all contextual information.  </p>
                    <p class="mb-0"><a href="https://www.crowdsupply.com/iotex/pebble-tracker">Pébble Tracker</a> will be the first such device thanks to its verifiability and interoperability with the IoTeX blockchain, yet it is portable and mobile.</p>
                </div>
                </div>
                <div class="row mb-5 techpadding flex-row-reverse">
                    <div class="col-xl-3 col-sm-3"><img src="../../assets/images/svg/blockchain.svg" class="img-fluid"></div>
                    <div class="col-xl-9 col-sm-9 my-auto">
                        <h3>IoTeX blockchain</h3>
                       
                        <p class="mb-0">PébbleGo is a DApp running on top of a high performant, decentralized and EVM-compatible blockchain protocol. The <a href="https://iotex.io/" >IoTeX</a> blockchain has launched for 2 years, and has been running by 100+ delegates globally to process over 10 million txs. The smart contract on this blockchain enables the issue, circulation and trade of ERC1155 (NFT) tokens as well ERC20 tokens in a fully decentralized way. You own your NFT cards completely! You govern how PébbleGo would evolve!</p>
                    </div>
                </div>
                <div class="row mb-5 techpadding">
                    <div class="col-xl-3 col-sm-3"><img src="../../assets/images/svg/defi.svg" class="img-fluid"></div>
                    <div class="col-xl-9 col-sm-9 my-auto">
                        <h3>DeFi Infrastructure</h3>
                       
                        <p class="mb-0">PébbleGo’s token economic leverages various DeFi components such as <a href="https://mimo.finance/">DEX</a> , <a href="https://tube.iotex.io/">ioTube</a>  and <a href="https://iopay-wallet.iotex.io/">ioPay</a>  to interact with users and the blockchain. Of course, we built new open-source contracts for the underlying crypto economics.  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- faq Section -->

<div class="container-fluid bg-white py-5" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 mb-5">
                <h2>FAQ</h2>
            </div>
           <div class="col-md-12">
            <div class="accordion qapanel" id="qapanel">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button questionpanal" type="button" data-bs-toggle="collapse" data-bs-target="#que1" aria-expanded="true" aria-controls="que1">
                      <div class="qa">Q</div> <p>When will PébbleGo be launched? What is the roadmap?</p>
                      <div class="arrowbx"><img src="../../assets/images/svg/qaarrow.svg"></div>
                    </button>
                  </h2>
                  <div id="que1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#qapanel">
                    <div class="accordion-body">
                        <div class="qa">A</div> <p>The initial version of PébbleGo will open for public test before June 2021, which will have basic flows such as collecting NFT cards using trusted wearable devices, trade and forge of NFT cards, mine of $PBG and so on. The governance part of PébbleGo will come perhaps around August 2021 to allow everyone to submit NFT card proposals and allow governance participants to select proposals for specific geofences, and so on. </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button questionpanal" type="button" data-bs-toggle="collapse" data-bs-target="#que2" aria-expanded="false" aria-controls="que2">
                        <div class="qa">Q</div> <p>Who can collect NFT cards and who can issue them?</p>
                        <div class="arrowbx"><img src="../../assets/images/svg/qaarrow.svg"></div>
                        <div class="arrowbx"><img src="../../assets/images/svg/qaarrow.svg"></div>

                      </button>
                    </h2>
                    <div id="que2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#qapanel">
                      <div class="accordion-body">
                          <div class="qa">A</div> <p>The NFT card can be collected if a user goes to a specific location at a specific time. Anyone can propose NFT card ideas for a specific geofence, and the governance committee will vote to select the winning NFT card for that geofence. </p>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button questionpanal" type="button" data-bs-toggle="collapse" data-bs-target="#que3" aria-expanded="false" aria-controls="que3">
                        <div class="qa">Q</div> <p>What is a $PBG token?</p>
                        <div class="arrowbx"><img src="../../assets/images/svg/qaarrow.svg"></div>

                      </button>
                    </h2>
                    <div id="que3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#qapanel">
                      <div class="accordion-body">
                          <div class="qa">A</div> <p>$PBG token is a fungible (ERC20) token that can be openly traded on DEX which has a fixed supply. It is given to users who obtain an NFT card, and stake his or her rare collections. In addition, a certain amount of $PBG is given to NFT proposers and governance participants. The initial distribution of $PBG will cover early adopters, Pebble owners, IoTeX $IOTX communities! We will release details about $PBG soon!</p>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button questionpanal" type="button" data-bs-toggle="collapse" data-bs-target="#que4" aria-expanded="false" aria-controls="que4">
                        <div class="qa">Q</div> <p>Where can I get a Pebble Tracker?</p>
                        <div class="arrowbx"><img src="../../assets/images/svg/qaarrow.svg"></div>

                      </button>
                    </h2>
                    <div id="que4" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#qapanel">
                      <div class="accordion-body">
                          <div class="qa">A</div> <p> You can order one from <a href="https://www.crowdsupply.com/iotex/pebble-tracker">Pébble Tracker</a> now. $PBG will be airdropped to Pebble holders before the initial launch of PébbleG (estimated in April).</p>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button questionpanal" type="button" data-bs-toggle="collapse" data-bs-target="#que5" aria-expanded="false" aria-controls="que5">
                        <div class="qa">Q</div> <p>How can I stay up-to-date about PébbleGo?</p>
                        <div class="arrowbx"><img src="../../assets/images/svg/qaarrow.svg"></div>

                      </button>
                    </h2>
                    <div id="que5" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#qapanel">
                      <div class="accordion-body">
                          <div class="qa">A</div> <p> Please follow us on <a href="https://twitter.com/go_pebble">Twitter</a> and subscribe to our newsletter at <a href="https://pebblego.substack.com">Substack</a>.</p>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingsix">
                      <button class="accordion-button questionpanal" type="button" data-bs-toggle="collapse" data-bs-target="#que6" aria-expanded="false" aria-controls="que6">
                        <div class="qa">Q</div> <p>What if I want to invest in PébbleGo now?</p>
                        <div class="arrowbx"><img src="../../assets/images/svg/qaarrow.svg"></div>

                      </button>
                    </h2>
                    <div id="que6" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#qapanel">
                      <div class="accordion-body">
                          <div class="qa">A</div> <p> Please reach out via <a href="mailto:support@http://pebblego.io/">Email</a> and we are happy to onboard early investors (institution only).</p>
                      </div>
                    </div>
                </div>
              </div>
           </div>
        </div>
    </div>
</div>