<div class="container-fluid coockibox bg-light py-4" *ngIf="coockiebox">
    <div class="container">
       <div class="row">
           <div class="col-xl-10">
            <h4>We use cookies</h4>
            <p>By using pebblego.io you accept our cookies and agree to our privacy policy, including cookie policy. Read <a href="">Privacy Policy</a> </p>
           </div>
           <div class="col-md-2 my-auto">
               <button class="btn btn-block text-white btnprimary mb-3" (click)="acceptcoockie()">Accept</button>
               <button class="btn btn-default btn-block bordernew" (click)="declinecoockie()">Decline</button>

           </div>
       </div>
    </div>
</div>