<div class="container-fluid headerslide" id="home">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 headerpart">
                <h1>Pébble GO</h1>
                <h4>Collect and experience the world!</h4>
                <a href="https://twitter.com/pebble_go"><button met-flat-button class="btn btn-primary cumminsoonbrtn text-white mr-2 mb-2">Twitter</button></a>
                <a href="https://iotex.io/"><button class="btn cumminsoonbrtn text-white btn-info mb-2 ">Powered by IoTeX
                </button></a>
            </div>
        </div>
    </div>
</div>

<!-- how does it work panel -->

<div class="container-fluid panel2 py-5" id="howtocollect">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h2>How Does It Work?</h2>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="panel2data">
                    <img src="../../assets/images/travel.png" class="img-fluid" alt="Travel">
                    <h3 class="mt-4">Travel & Collect</h3>
                    <p>
                        Use trusted wearables and trackers to attest your “proof of presence” at a specific time/location and obtain exclusive NFTs.
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="panel2data">
                    <img src="../../assets/images/svg/trade-to-collect.svg" class="img-fluid" alt="Trade to Collect">
                    <h3 class="mt-4">NFT Marketplace</h3>
                    <p>Trade your NFTs with anyone at any time on the Pébble GO Marketplace to build your NFT collection – gotta catch ‘em all!</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="panel2data">
                    <img src="../../assets/images/change-the-world.png" class="img-fluid" alt="Mine to Change the World">
                    <h3 class="mt-4">NFT Mining & $PBG Token</h3>
                    <p>Stake NFTs to mine $PBG, which is used for governance and burned to add new locations + NFTs to the Pébble GO map.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- slider panel -->

<div class="container-fluid sliderpanel py-5" id="collectiblesCards">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h2>NFT Collectibles</h2>
            </div>
        
            <div class="col-md-12 mb-5">
              
                  <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="mainboxproducts">
                            <img src="../../../assets/images/jpg/tajmahal.jpg" class="img-fluid">
                            <div class="productdatabox">
                                <div class="productinbx p-2">
                                    <h4>Taj Mahal</h4>
                                    <div class="d-flex justify-content-between">
                                        <div class="createdby"><p>Curated by  <br>io…427</p></div>
                                        <div class="qrcode"><img src="../../../assets/images/svg/qrcode.svg"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mt-1">
                                        <div class="price"> <img src="../../../assets/images/iotexlogo.png"> .523</div>
                                        <div class="last-price">(01/50)</div>
                                    </div>
                                    <div class="d-flex">
                                       <div class="last-price">Last Price <span><img src="../../../assets/images/iotexlogo.png"> .453</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="mainboxproducts">
                            <img src="../../../assets/images/jpg/tesla-factory.jpg" class="img-fluid">
                            <div class="productdatabox">
                                <div class="productinbx p-2">
                                    <h4>Tesla Factory - Silicon Valley</h4>
                                    <div class="d-flex justify-content-between">
                                        <div class="createdby"><p>Curated by <br>io…427</p></div>
                                        <div class="qrcode"><img src="../../../assets/images/svg/qrcode.svg"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mt-1">
                                        <div class="price"><img src="../../../assets/images/iotexlogo.png"> 1.25</div>
                                        <div class="last-price">(55/500)</div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="last-price">Last Price <span><img src="../../../assets/images/iotexlogo.png"> 1.20</span></div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="mainboxproducts">
                            <img src="../../../assets/images/jpg/btc-confrence.jpg" class="img-fluid">
                            <div class="productdatabox">
                                <div class="productinbx p-2">
                                    <h4>Bitcoin Miami 2021</h4>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="createdby"><p>Curated by <br>io…427</p></div>
                                        <div class="qrcode"><img src="../../../assets/images/svg/qrcode.svg"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="price"><img src="../../../assets/images/iotexlogo.png"> .75</div>
                                        <div class="last-price">(01/05)</div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="last-price">Last Price <span><img src="../../../assets/images/iotexlogo.png"> .50</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template> 
                    <ng-template carouselSlide>
                        <div class="mainboxproducts">
                            <img src="../../../assets/images/jpg/steck.png" class="img-fluid">
                            <div class="productdatabox">
                                <div class="productinbx p-2">
                                    <h4>Peter Luger Steakhouse (a restaurant in NYC)</h4>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="createdby"><p>Curated by <br>io…427</p></div>
                                        <div class="qrcode"><img src="../../../assets/images/svg/qrcode.svg"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="price"><img src="../../../assets/images/iotexlogo.png"> 1.72</div>
                                        <div class="last-price">(03/12)</div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="last-price">Last Price <span><img src="../../../assets/images/iotexlogo.png"> 1.60</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template> 
                    <ng-template carouselSlide>
                        <div class="mainboxproducts">
                            <img src="../../../assets/images/jpg/cochela.png" class="img-fluid">
                            <div class="productdatabox">
                                <div class="productinbx p-2">
                                    <h4>Coachella 2022</h4>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="createdby"><p>Curated by <br>io…427</p></div>
                                        <div class="qrcode"><img src="../../../assets/images/svg/qrcode.svg"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="price"><img src="../../../assets/images/iotexlogo.png"> 2.95</div>
                                        <div class="last-price">(03/10)</div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="last-price">Last Price <span><img src="../../../assets/images/iotexlogo.png"> 2.75</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="mainboxproducts">
                            <img src="../../../assets/images/jpg/nba-game.jpg" class="img-fluid">
                            <div class="productdatabox">
                                <div class="productinbx p-2">
                                    <h4>NBA Game at Barclays Center</h4>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="createdby"><p>Curated by <br>io…427</p></div>
                                        <div class="qrcode"><img src="../../../assets/images/svg/qrcode.svg"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mt-1">
                                        <div class="price"><img src="../../../assets/images/iotexlogo.png"> 3.60</div>
                                        <div class="last-price">(100/1000)</div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="last-price">Last Price <span><img src="../../../assets/images/iotexlogo.png"> 3.25</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template> 
                    <ng-template carouselSlide>
                        <div class="mainboxproducts">
                            <img src="../../../assets/images/jpg/golden-gate.jpg" class="img-fluid">
                            <div class="productdatabox">
                                <div class="productinbx p-2">
                                    <h4>Golden Gate Bridge</h4>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="createdby"><p>Curated by <br>io…427</p></div>
                                        <div class="qrcode"><img src="../../../assets/images/svg/qrcode.svg"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="price"><img src="../../../assets/images/iotexlogo.png"> 4.82</div>
                                        <div class="last-price">(05/20)</div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="last-price">Last Price <span><img src="../../../assets/images/iotexlogo.png"> 4.50</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template> 
                   
                    <ng-template carouselSlide>
                        <div class="mainboxproducts">
                            <img src="../../../assets/images/jpg/monalisa.jpg" class="img-fluid">
                            <div class="productdatabox">
                                <div class="productinbx p-2">
                                    <h4>Mona Lisa at Louvre Museum</h4>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="createdby"><p>Curated by <br>io…427</p></div>
                                        <div class="qrcode"><img src="../../../assets/images/svg/qrcode.svg"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="price"><img src="../../../assets/images/iotexlogo.png"> 10.45</div>
                                        <div class="last-price">(11/30)</div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="last-price">Last Price <span><img src="../../../assets/images/iotexlogo.png"> 10.10</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template> 
                    <ng-template carouselSlide>
                        <div class="mainboxproducts">
                            <img src="../../../assets/images/jpg/disneyland.jpg" class="img-fluid">
                            <div class="productdatabox">
                                <div class="productinbx p-2">
                                    <h4>Disney World</h4>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="createdby"><p>Curated by <br>io…427</p></div>
                                        <div class="qrcode"><img src="../../../assets/images/svg/qrcode.svg"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="price"><img src="../../../assets/images/iotexlogo.png"> 1.2</div>
                                        <div class="last-price">(05/15)</div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="last-price">Last Price <span><img src="../../../assets/images/iotexlogo.png"> 1.05</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                   
                   
                    <ng-template carouselSlide>
                        <div class="mainboxproducts">
                            <img src="../../../assets/images/jpg/music-consert.png" class="img-fluid">
                            <div class="productdatabox">
                                <div class="productinbx p-2">
                                    <h4>Drake World Tour</h4>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="createdby"><p>Curated by <br>io…427</p></div>
                                        <div class="qrcode"><img src="../../../assets/images/svg/qrcode.svg"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="price"><img src="../../../assets/images/iotexlogo.png"> 8.95</div>
                                        <div class="last-price">(01/05)</div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="last-price">Last Price <span><img src="../../../assets/images/iotexlogo.png"> 8.75</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="mainboxproducts">
                            <img src="../../../assets/images/jpg/formula-one.png" class="img-fluid">
                            <div class="productdatabox">
                                <div class="productinbx p-2">
                                    <h4>F1 Grand Prix Monaco</h4>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="createdby"><p>Curated by <br>io…427</p></div>
                                        <div class="qrcode"><img src="../../../assets/images/svg/qrcode.svg"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="price"><img src="../../../assets/images/iotexlogo.png"> 6.45</div>
                                        <div class="last-price">(02/15)</div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="last-price">Last Price <span><img src="../../../assets/images/iotexlogo.png"> 5.95.75</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                  </owl-carousel-o>
            </div>
        </div>
    </div>
</div>

<!-- technology panel -->

<div class="container-fluid panel2 pt-5" id="technology">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 mb-5">
                <h2>Technology</h2>
            </div>
            <div class="col-xl-10 techpanel">
                <div class="row mb-5">
                <div class="col-xl-3 col-sm-3"><img class="img-fluid" src="../../assets/images/svg/trusted-devise.svg"></div>
                <div class="col-xl-9 col-sm-9 my-auto">
                    <h3>Trusted, Tamper-Proof Devices</h3>
                    <p>Pébble GO utilizes trusted wearables and tracker devices that are tamper-proof to allow anyone to verifiably attest their physical location (“proof of presence”) to the blockchain. Real world data oracles in action!
                    </p>
                    <p class="mb-0"><a href="https://iotex.io/pebble">Pebble Tracker</a> will be the first device supported by Pébble GO due to its verifiability, mobility, and decentralization features. Get Pebble Tracker now on <a href="https://www.crowdsupply.com/iotex/pebble-tracker">CrowdSupply</a>
                    </p>
                </div>
                </div>
                <div class="row mb-5 techpadding flex-row-reverse">
                    <div class="col-xl-3 col-sm-3"><img src="../../assets/images/svg/blockchain.svg" class="img-fluid"></div>
                    <div class="col-xl-9 col-sm-9 my-auto">
                        <h3>IoTeX Blockchain</h3>
                       
                        <p class="mb-0">Pébble GO is a DApp running on the scalable, decentralized, and EVM-compatible IoTeX blockchain. Open-source and audited smart contracts will enable the issuance, circulation, and trading of XRC1155 (NFT) and XRC20 tokens in a fully decentralized manner. Users exclusively own their NFTs and govern the Pébble GO network.</p>
                    </div>
                </div>
                <div class="row mb-5 techpadding">
                    <div class="col-xl-3 col-sm-3"><img src="../../assets/images/svg/defi.svg" class="img-fluid"></div>
                    <div class="col-xl-9 col-sm-9 my-auto">
                        <h3>DeFIoT Infrastructure</h3>
                       
                        <p class="mb-0">Pébble GO incorporates first-of-its-kind tokenomics that leverage DeFi & IoT (“DeFIoT”) components such as <a href="https://mimo.exchange/swap">mimo DEX</a>, <a href="https://tube.iotex.io/eth">ioTube</a>, and <a href="https://iopay-wallet.iotex.io/">ioPay</a>  to empower users to trade and stake NFTs, as well as interact peer-to-peer with other users. Don’t trust, verify – Pébble GO utilizes open-source contracts and transparent tokenomics for absolute trust.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- faq Section -->

<div class="container-fluid bg-white py-5" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 mb-5">
                <h2>FAQ</h2>
            </div>
           <div class="col-md-12">
            <div class="accordion qapanel" id="qapanel">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button questionpanal" type="button" data-bs-toggle="collapse" data-bs-target="#que1" aria-expanded="true" aria-controls="que1">
                      <div class="qa">Q</div> <p>When will Pébble GO be launched? What is the roadmap?</p>
                      <div class="arrowbx"><img src="../../assets/images/svg/qaarrow.svg"></div>
                    </button>
                  </h2>
                  <div id="que1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#qapanel">
                    <div class="accordion-body">
                        <div class="qa">A</div> <p>The initial version of Pébble GO will be open for public testing by June 2021 and will have basic capabilities including collecting NFTs using Pebble Tracker, trading NFTs, mining $PBG tokens, and more. The governance of Pébble GO will be discussed and refined by our initial community with an expected launch in Q3 2021, allowing anyone to submit governance proposals and craft the future operating rules of the Pébble GO network.</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button questionpanal" type="button" data-bs-toggle="collapse" data-bs-target="#que2" aria-expanded="false" aria-controls="que2">
                        <div class="qa">Q</div> <p>Who can collect NFTs and who can issue them?</p>
                        <div class="arrowbx"><img src="../../assets/images/svg/qaarrow.svg"></div>
                      </button>
                    </h2>
                    <div id="que2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#qapanel">
                      <div class="accordion-body">
                          <div class="qa">A</div> <p>Pébble GO NFTs can be collected by anyone with a supported device (e.g., Pebble Tracker) that visits a specific location at a specific time for “proof of presence”. Anyone can propose new geo-fence locations and corresponding NFTs by burning $PBG, with approval from the Pébble GO governance committee during the bootstrapping phase. Over time, we will seek to fully decentralize the listing of new locations and issuance of new NFTs. </p>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button questionpanal" type="button" data-bs-toggle="collapse" data-bs-target="#que3" aria-expanded="false" aria-controls="que3">
                        <div class="qa">Q</div> <p>What is the $PBG token?</p>
                        <div class="arrowbx"><img src="../../assets/images/svg/qaarrow.svg"></div>

                      </button>
                    </h2>
                    <div id="que3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#qapanel">
                      <div class="accordion-body">
                          <div class="qa">A</div> <p>$PBG token is a fungible token (XRC20) on the IoTeX Network that can be openly traded on <a href="https://mimo.exchange/swap">mimo DEX</a>. $PBG can be earned by any users that obtain and stake a Pébble GO NFT with more higher $PBG rewards in early phases. $PBG holders can burn $PBG in order to add new geo-fenced locations to the global Pébble GO map, making the total supply of $PBG deflationary over time. We are planning for a fair launch of $PBG that will reward early adopters, Pebble Tracker owners, and IoTeX community members! Stay tuned for more details on $PBG by following our official channels.
                        </p>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button questionpanal" type="button" data-bs-toggle="collapse" data-bs-target="#que4" aria-expanded="false" aria-controls="que4">
                        <div class="qa">Q</div> <p>What is Pebble Tracker and how can I buy one?
                        </p>
                        <div class="arrowbx"><img src="../../assets/images/svg/qaarrow.svg"></div>

                      </button>
                    </h2>
                    <div id="que4" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#qapanel">
                      <div class="accordion-body">
                          <div class="qa">A</div> <p> Pebble Tracker is a “Powered by IoTeX” device that is equipped with a tamper-proof secure element (TEE), as well as GPS, climate, motion, and light sensors. Pebble Tracker writes verifiable sensor readings, such as GPS location, to the IoTeX blockchain for use in various DApps like Pébble GO. You can order Pebble Tracker on <a href="https://www.crowdsupply.com/iotex/pebble-tracker">CrowdSupply</a>. $PBG will be airdropped to Pebble Tracker holders before the initial launch of Pébble GO!
                        </p>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button questionpanal" type="button" data-bs-toggle="collapse" data-bs-target="#que5" aria-expanded="false" aria-controls="que5">
                        <div class="qa">Q</div> <p>How can I stay up-to-date about Pébble Go?
                        </p>
                        <div class="arrowbx"><img src="../../assets/images/svg/qaarrow.svg"></div>

                      </button>
                    </h2>
                    <div id="que5" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#qapanel">
                      <div class="accordion-body">
                          <div class="qa">A</div> <p> Please follow us on <a href="https://twitter.com/pebble_go">Twitter</a> and subscribe to our newsletter at <a href="https://pebblego.substack.com/">Substack</a>.</p>
                      </div>
                    </div>
                </div>
              </div>
           </div>
        </div>
    </div>
</div>
